img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #f1f1f1;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.container-produtos {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.card-produto {
  max-width: 340px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.card-produto img {
  height: 70%;
  border-radius: 10px;
}

.text-content {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-content p {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin: 10px 0px 0px 0px;
}

.text-content span {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #00d864;
}
